<!-- do not touch -->
<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type=text/css media="screen">
      <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet" media="screen">
      <link href="{{ url_for('static', filename='css/bootstrap-theme.css.map') }}" rel="stylesheet" media="screen">
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <!-- Bootstrap jQuery plugins compiled and minified -->
      <title>CheapIoT</title> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content>
      <meta name="author" content>
  </head>
  <body>
	<!-- Navigator Content -->
	<div class="container">
	  <div class="span12 v-center">
	    <h1 class="text-muted">Dashboard</h1>
	  </div> <! --col -->
	  <hr>
	</div>
	<p>
	<div class="container">
	  <div class="masthead clearfix">
	    <ul class="nav nav-pills">  <!-- pull-right" style="padding:20px;"> -->
	      <li class="active">
		<a href="/">TWITTER</a>
	      </li>
	    </ul>
          </div>
	</div>
	<p>
	<div class="container">
	<hr>
	<div class="jumbotron">
 	<div class="row">
	  <div class="col-md-12">
	  <div class="well center-block" style="max-width: 420px;">
	    <strong>
		  <p class="lead">{{ ja }}</p>
	    </strong>
 	  </div>
	  <div class="well center-block" style="max-width: 420px;">
	    <a class="twitter-timeline" href="https://twitter.com/chojayr" data-widget-id="631079426344640513" height="500">Tweets by @chojayr</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	  </div>
	  </div>
	  </div>
	  </div>
	</div>
	<footer class="footer">
	<div class="navbar navbar-fixed-bottom">
	  <div class="text-center">
	    <p>
		<code>Hi I'm a FOOTER! If You can read me then I would be happy</code>
	    </p>
	  </div>
	</div>
	</footer>
   
   <!-- do not touch -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
   </body>
</html>


